.btn {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  background-color: #8c959e;
  border: 1px solid lightgray;
  border-color: #000;
  transition: all 0.3s ease-in-out;
  border-radius: 6px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  outline: none;
  cursor: pointer;
  min-width: 200px;
  color: white;
  font-size: 24px;
  padding: 5px;
  margin-bottom: 20px;
}

.btn:hover {
  background-color: white;
  border-color: black;
  color: black;
}
