.btn {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #8c959e;
  border: 1px solid lightgray;
  border-color: #000;
  transition: all 0.1s ease-in-out;
  border-radius: 6px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  outline: none;
  cursor: pointer;
  color: white;
  font-size: 20px;
  padding: 10px;
  margin-bottom: 20px;
}

.btn:hover {
  background-color: white;
  border-color: black;
  color: black;
}
@media (max-width: 767px) {
  .btn {
    font-size: 15px;
  }
}
