.title {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  padding-top: 10px;
  margin: 0 auto;
  text-align: center;
  line-height: 30px;
}

.s {
  font-size: 27px;
  padding: 5px 2px;
}
.m {
  font-size: 30px;
  padding: 15px 8px;
}

.xl {
  color: rgb(39, 38, 38);
  font-size: 35px;
  margin-top: 30px;
  line-height: 35px;
}

@media (max-width: 767px) {
  .s {
    font-size: 20px;
  }
  .m {
    font-size: 23px;
  }
  .xl {
    font-size: 30px;
  }
}
