.contener {
  margin: 30px 20px;
  display: grid;
  justify-content: center;
  gap: 10px;
  grid-template-columns: repeat(auto-fill, 400px);
  background-size: cover;
  color: #fff;
  font-size: 20px;
  text-shadow: 0px 0px 2px #000;
}

.wrapper {
  margin: 0 auto;
  padding: 30px;
  background-size: "cover";
}

.text {
  color: rgb(61, 61, 61);
  font-size: 2em;
  margin-top: 10px;
}
@media (max-width: 767px) {
  .text {
    font-size: 15px;
  }
}
