.riversList {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    background-size: cover;
    background-position: center;
    height: 300px; 
    color: white;
    margin: 20px;
    position: relative;
    object-fit: cover;
}

.riversTime {
  position: absolute;
  background-color: yellow;
  color:black;
  font-size: 22px;
  font-weight: bold;
  left: 5px;
  padding: 3px;
  margin: 5px;
}

.riversTitle {
    position: absolute;
    font-size: 22px;
    bottom: 10px;
    margin-left: 20px;
    text-shadow: 0px 0px 3px black;
}

.riversLevel {
    position: absolute;
    background-color: rgb(55, 124, 202);
    text-shadow: 0px 0px 3px black;
    font-size: 22px;
    padding: 3px;
    margin-left: 5px;
    margin-top: 60px;
}