.riversList {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-size: cover;
  background-position: center;
  height: 300px;
  color: white;
  margin: 20px;
  position: relative;
  object-fit: cover;
}

.top {
  display: flex;
  flex-direction: row;
}
.riversTime {
  background-color: yellow;
  color: black;
  font-size: 22px;
  font-weight: bold;
  left: 5px;
  padding: 3px;
  margin: 5px;
}

.riversTitle {
  font-size: 22px;
  bottom: 10px;
  margin-left: 20px;
  text-shadow: 0px 0px 3px black;
}

.riversLevel {
  position: absolute;
  background-color: rgb(55, 124, 202);
  text-shadow: 0px 0px 3px black;
  font-size: 22px;
  padding: 3px;
  margin-left: 5px;
  margin-top: 15px;
}
.riversKm {
  position: absolute;
  background-color: rgb(68, 166, 211);
  color: black;
  font-size: 20px;
  font-weight: bold;
  padding: 3px;
  margin-left: 5px;
  bottom: 5px;
}
.swiperContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.arrowButton {
  background-color: transparent;
  color: white;
  border: none;
  font-size: 24px;
  cursor: pointer;
  padding: 10px;
  transition: transform 0.3s;
}

.arrowButton:hover {
  transform: scale(1.1);
  color: #1d5799;
}
